<#include "base.html">

<div class="osu-layout__section osu-layout__section--full js-content home_getDownload">
    <div class="osu-page osu-page--header">
<div class="osu-page-header-v2 osu-page-header-v2--download">
<div class="download-page-header">
<span class="download-page-header__tagline">let's begin!</span>

<div class="download-page-header__icon">
<i class="fas fa-download" aria-hidden="true"></i>
</div>

<a class="btn-osu-big btn-osu-big--download-page" href="https://cdn.discordapp.com/attachments/397430497157971988/504349179498332171/EnjuuSwitcher_October_23rd_2018.exe">
<span class="btn-osu-big__text-top">download switcher!</span>
<span class="btn-osu-big__text-bottom">Windows</span>
</a>

<a class="btn-osu-big btn-osu-big--download-page" href="https://osufx.com/download/">
  <span class="btn-osu-big__text-top">download osu!fx!</span>
  <span class="btn-osu-big__text-bottom">Windows</span>
  </a>
</div>
</div>
</div>

<div class="osu-page osu-page--download">
<div class="download-page">
<div class="download-page__step">
<div class="download-page__text download-page__text--title">
<span class="download-page__step-number">1</span>
download the switcher
</div>
<div class="download-page__text download-page__text--description">
just download and execute the file as <span>administrator</span>, if that doesn't work disable your antivirus!
</div>
</div>
<div class="download-page__step">
<div class="download-page__text download-page__text--title">
<span class="download-page__step-number">2</span>
create a account or login
</div>
<div class="download-page__text download-page__text--description">
just create a account or login at our navbar
</div>
</div>
<div class="download-page__step">
<div class="download-page__text download-page__text--title">
<span class="download-page__step-number">3</span>
enjoy enjuu!
</div>
<div class="download-page__text download-page__text--description">
search some beatmaps with our free osu!direct and have fun
</div>
</div>
<div class="download-page__accent"></div>
</div>

<div class="download-page">

    <div class="user-home__button">
        <a href="https://discord.gg/WYbwfJS" class="btn-home btn-home--">
          <span class="btn-home__text">You need help? Visit our Discord</span>
          <span class="btn-home__icon">
              <i class="fas fa-hands-helping"></i>
          </span>
        </a>
      </div>

</div>

</div>

</div>

  <#include "footer.html">