<#include "base.html">
<div class="osu-layout__section osu-layout__section--full js-content community_getLive">
  <div class="osu-layout__row osu-layout__row--page-compact">
<div class="osu-page-header osu-page-header--live">
<h1 class="osu-page-header__title">A error occurupted</h1>

<p class="osu-page-header__title osu-page-header__title--smaller">
All data of this error was send to a Enjuu Developer! If you can help us fixing our System write Kazuki#0776 a message
</p>
</div>

<div class="beatmap-packs__blurb">
  <p class="beatmap-packs__important">CODE: (lang: ${lang})</p>
<p>${error}</p>
</div>

</div>



</div>
</div>

  <#include "footer.html">