<style>
#footer {
    padding-top: 10px;
    padding-bottom: 0px;
	<#if fixed == "true">
    position:fixed;
	</#if>
    bottom:0;
    width:100%;
}
</style>
<div class="ui footer basic segment" id="footer">
	<center class="ui container center" cfapps-selector="body > .footer > .ui.container.center">
		© 2018-2019 Enjuu, using Shiina, Ripple and osu-web <a href="/team">Team <i class="fas fa-users"></i></a>
		 </a>
		<br>© 2013-2019 <a href="https://peerstudios.net/">Peer Studios</a>
</div>

</body>