<#include "base.html">
<div style="margin-left: 30%; margin-right: 30%" >
    <form method="POST" action="/session" accept-charset="UTF-8" class="
            login-box__section
            login-box__section--login
        ">
        <h2 class="login-box__row login-box__row--title">Login to your Peerstudios or Enjuu Account</h2>

        <div class="login-box__row login-box__row--inputs" style="color: white;">
            <input class="login-box__form-input" name="username" placeholder="e-mail-adress or username">
            <input class="login-box__form-input" name="password" type="password" placeholder="password">
        </div>


        <div class="login-box__row">
            <a href="/home/password-reset" class="login-box__link js-nav--hide">
                Forgot password
            </a>
        </div>

        <div class="login-box__row login-box__row--actions">
            <div class="login-box__action">
                <button class="btn-osu-big btn-osu-big--nav-popup" data-disable-with="Login In...">
                    <div class="btn-osu-big__content">
                        <span class="btn-osu-big__left" >
                            Login
                        </span>

                        <span class="fas fa-fw fa-sign-in-alt"></span>
                    </div>
                </button>
            </div>
        </div>
    </form>

                <div class="login-box__section login-box__section--register">
            <h2 class="login-box__row login-box__row--title">
                I'm new?
            </h2>

            <div class="login-box__row" style="color: gray;">
                Create your Account now
            </div>

            <div class="login-box__row login-box__row--actions">
                <div class="login-box__action">
                    <a href="/p/register" class="btn-osu-big btn-osu-big--nav-popup">
                        <div class="btn-osu-big__content">
                            <span class="btn-osu-big__left">
                                Register
                            </span>

                            <span class="fas fa-fw fa-child"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
      
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <#include "footer.html">